* {
    outline: 1px lightgrey solid;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
    transition: all 100ms;
    padding: 0;
}

button:hover:not(.active) {
    background-color: #f8f9fa;
}

button:active {
    transform: scale(.9);
}

.App {
    font-family: "Arial" ,sans-serif;
    font-weight: 400;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202124;
}

.container {
    width: 650px;
}

.charts {
    overflow: hidden;
}

.vert-line {
    display: inline-block;
    width: 1px;
    color: transparent;
    border-left: 1px solid #ebebeb;
    margin: 0 11px;
}

.type-btns button {
    font-size: 14px;
    line-height: 1.58;
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
    cursor: pointer;
}

.type-btns button.active {
    border-bottom-color: #fbbc04;
    cursor: default;
}

.day-btns {
    margin-top: 10px;
    display: flex;
    gap: 1px;
    justify-content: center;
}

.day-btn span {
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
}

.day-btn {
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.day-btn.active {
    background-color: #f8f9fa;
}

.day-btn__f {
    color: #70757a;
}
